/* styles.css */

/* Basic resets */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Typography */
body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: #f9f9f9;
  color: #333;
}

.RedAlert {
  background: #9c0000a9;
  width: 100%;
  color: white;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 
               'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-align: left;
  font-size: 0.5em;
}

.YellowAlert {
  background: #a05b00a9;
  width: 100%;
  color: white;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 
               'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-align: left;
  font-size: 0.5em;
}

.GreenAlert {
  background: #00a008a9;
  width: 100%;
  color: white;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 
               'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-align: left;
  font-size: 0.5em;
}



/* Header styles */
header {
  background-color: #b9b9b9;
  color: #696969;
  padding: 1em 0;
  text-align: center;
}

header h1 {
  margin-bottom: 0.5em;
}

nav ul {
  list-style: none;
}

nav ul li {
  display: inline;
  margin: 0 1em;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

/* Main content area */
main {
  padding: 2em;
  max-width: 800px;
  margin: 2em auto;
  background: #fff;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

/* Section headings */
h2 {
  margin-bottom: 1em;
  margin-top: 1em
}

/* Footer styles */
footer {
  text-align: center;
  padding: 1em;
  background: #ddd;
  position: fixed;
  bottom: 0;
  width: 100%;
}

/* Dark Theme Styles */
@media (prefers-color-scheme: dark) {
  body {
    background-color: #121212;
    color: #e0e0e0;
  }
  
  header {
    background-color: #333;
  }
  
  nav ul li a {
    color: #e0e0e0;
  }
  
  main {
    background-color: #222;
    box-shadow: 0 2px 4px rgba(255, 255, 255, 0.1);
  }
  
  footer {
    background: #333;
    color: #e0e0e0;
  }
}
